@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

#AboutProjectWrap {
  font-family: 'Pretendard-Regular', sans-serif;
  width: 100%;
}

#AboutProjectWrap .AboutProjectList {
  padding: 0 5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

#AboutProjectWrap .AboutProjectList h2 {
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

#AboutProjectWrap .AboutProjectList ul {
  width: 60%;
}

#AboutProjectWrap .AboutProjectList ul li {
  padding: 0.75rem 0;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

#AboutProjectWrap .AboutProjectList ul li:hover {
  background-color: #ddd;
  font-weight: 600;
  cursor: pointer;
}

#AboutProjectWrap .AboutProject {
  width: 100%;
  height: 50vh;
  padding: 2rem 5rem;
  display: flex;
  gap: 50px;
  align-items: center;
  box-sizing: border-box;
}

#AboutProjectWrap .AboutProject:nth-of-type(2n) {
  background-color: #eee;
}

#AboutProjectWrap .AboutProject .AboutProject_thumbnail {
  max-width: 40%;
  flex: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
#AboutProjectWrap .AboutProject .AboutProject_thumbnail .ap_thumbnail_frame {
  width: 100%;
  height: 100%;
  margin: 4rem 2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
#AboutProjectWrap .AboutProject .AboutProject_thumbnail .ap_thumbnail_frame img {
  width: inherit;
  object-position: center;
  border: 1px solid #ddd;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 16px #eee;
}
#AboutProjectWrap .AboutProject .AboutProject_description {
  max-width: 50%;
  display: flex;
  flex: 1;
  justify-content: left;
  text-align: left;
  font-family: 'Pretendard-Regular', sans-serif;
  box-sizing: border-box;
}

#AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt h2 span {
  display: block;
  font-size: 1rem;
  color: #666;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
#AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt h2 {
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px;
}

#AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt h2 .pageLink {
  margin-left: 4px;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  border: none;
  width: 28px;
  height: 28px;
  font-size: 0.75rem;
}

#AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt h2 .pageLink:hover {
  cursor: pointer;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt p {
  font-size: 1.25rem;
  line-height: 1.8;
  word-break: keep-all;
}

@media (max-width: 899px) {
  #AboutProjectWrap .AboutProjectList {
    padding: 0 1rem;
  }
  #AboutProjectWrap .AboutProjectList ul {
    width: 75%;
  }
  #AboutProjectWrap .AboutProjectList ul li {
    font-size: 1rem;
  }

  #AboutProjectWrap .AboutProject {
    flex-direction: column;
    height: auto;
    padding: 2.5rem 1rem;
    gap: 25px;
  }

  #AboutProjectWrap .AboutProject .AboutProject_thumbnail,
  #AboutProjectWrap .AboutProject .AboutProject_description {
    max-width: 85%;
  }

  #AboutProjectWrap .AboutProject .AboutProject_thumbnail .ap_thumbnail_frame {
    margin: 0rem;
  }
  #AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt h2 {
    font-size: 1.25rem;
    padding-bottom: 10px;
  }
  #AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt h2 .pageLink {
    width: 25px;
    height: 25px;
    font-size: 0.7125rem;
  }
  #AboutProjectWrap .AboutProject .AboutProject_description .ap_description_frame .ap_description_frame_txt p {
    font-size: 1rem;
  }
}