@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* about */
#about { 
  font-family: 'Pretendard-Regular', sans-serif; 
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
}

#about .aboutFirstPage {
  width: 100%;
  padding: 4rem 5rem;
  box-sizing: border-box;
}

#about .aboutFirstPage p {
  color: #ddd;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.6;
}

@media (max-width: 899px) {
  #about .aboutFirstPage {
    padding: 2rem;
  }
  #about .aboutFirstPage p {
    font-size: 2.5rem;
  }
}

#about .aboutSecondPage {
  width: 100%;
  height: 100vh; 
  padding: 0 4rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: #eee;
}

@media (max-width: 899px) {
  #about .aboutSecondPage {
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
  }
  #about .aboutFirstPage p {
    padding: 0 2rem;
  }
}

#about .aboutSecondPage .about-imgWrap {
  width: 45%; 
  max-width: 45%;
  text-align: right;
  aspect-ratio: inherit;
}

#about .aboutSecondPage .about-imgWrap .about-img {
  width: inherit;
  aspect-ratio: inherit;
  border-radius: 15px;
  border: 1px solid #333;
}

#about .aboutSecondPage .about-txt {
  width: 50%;
}

#about .aboutSecondPage .about-txt h2 {
  color: #333;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

#about .aboutSecondPage .about-txt div p {
  color: #333;
  font-size: 1.125rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

@media (max-width: 899px) {
  #about .aboutSecondPage .about-imgWrap {
    width: 250px;
    max-width: 250px;
  }
  #about .aboutSecondPage .about-txt {
    width: 80%;
    text-align: center;
  }
  #about .aboutSecondPage .about-txt h2 {
    font-size: 1.125rem;
  }
  #about .aboutSecondPage .about-txt div p {
    font-size: 1rem;
  }
}