@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {margin: 0 auto; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {
  font-family: 'Bricolage Grotesque', 'IBM Plex Sans KR', sans-serif; 
  background-color: #fff;
  color: #333;
  position: relative;
  overflow-x: hidden;
}

#root {
  background-color: #fff;
}

/* header */
#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  background-color: #fff;
}

@media (max-width: 899px) {
  #header {
    padding: 0 2rem;
  }
}
#header h1 {
  flex: 1;
  font-size: 1.5rem;
}
#header #nav {
  font-size: 1.25rem;
}
#header #nav ul {
  display: flex;
  align-items: center;
}
#header #nav ul li {
  flex: 1;
  padding: 0.75rem 0;
  text-align: right;
}
#header #nav ul span::before {
  content: "/";
  padding: 0 0.25rem;
}
#header #nav ul li a {
  font-weight: 700;
}

/* Project.css */
#project {
  display: none;
  width: 700%;
  height: 100vh;
  margin-top: 52px;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#project .project {
  width: calc(100%/7);
  height: 100vh;
  display: flex;
  align-items: center;
}

#project .project .thumbnail {
  width: 100%;
  padding: 2rem;
  display: flex;
}

#project .project .thumbnail img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ddd;
}

#project .project .description {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
}

/* footer */
#footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
  background-color: #fff;
  font-size: 1.125rem;
  padding: 0.5rem 5rem;
  box-sizing: border-box;
  z-index: 20;
}
#footer p {
  flex: 4;
}
#footer ul {
  flex: 1;
  display: flex;
}
#footer ul li {
  flex: 1;
  text-align: right;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-to-top-button.show {
  opacity: 1;
}

.scroll-to-top-button:hover {
  background-color: #333;
}

@media (max-width: 899px) {
  #footer {
    padding: 0.5rem 2rem;
  }
  #footer ul {
    display: none;
  }
}